<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada</title>
    <link rel="stylesheet" th:href="@{/css/404-style.css}">
</head>
<body>
    <main class="error-404-style" role="main">
        <section class="error-card" aria-labelledby="error-404">
            <span class="kicker">Error 404</span>
                <h1 id="error-404">No encontramos está página.</h1>
                <p class="lead">Lo sentimos - la URL que intentaste abrir no existe.</p>

                <!--Botón de acción centrado-->
                <div class="actions">
                <a href="/" class="btn btn--bubble">Volver a la página de inicio</a>
                </div>

                <p style="margin-top: 1rem; color: var(--muted);font-size: .9rem;">Código: <strong>404</strong></p>

                <!-- Emoji decorativo -->
                <aside class="big-404" aria-hidden="true">
                    <div class="emoji-wrap">
                        <div class="face">😕</div>
                    </div>
                </aside>
    </main>
</body>
</html>