<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Temporal</title>
    <link rel="stylesheet" href="/css/modals.css">
</head>
<body>
    <h1>ESTA VISTA ES TEMPORAL</h1>
    <p>Solo esta como ventana para poder registrar los otros tipos de usuario</p>
    <a href="javascript:void(0)" onclick="abrirModal('registerCliente-modal')">Registrar Cliente</a>
    <a href="javascript:void(0)" onclick="abrirModal('registerAdmin-modal')">Registrar Admin</a>
    <a href="javascript:void(0)" onclick="abrirModal('registerProveedor-modal')">Registrar Proveedor</a>

    <div th:replace="~{fragments/modales_auth :: modals}"></div>
    <script src="/js/modals.js"></script>
</body>
</html>